.main-div {
  position: relative;
  border: 2px solid black;
  margin-top: 5px;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(35, 176, 241, 0.8);
}
.my-group {
  margin: 20px;
}

.my-result {
  position: relative;
  width: 100%;
  height: 200px;
}
.my-vertical {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 50%;

}

