.main-div {
  background-color: #EEEEEE;
  position: relative;
  margin-top: 5px;
  height: 100%;
}
.my-group {
  margin: 20px;
}

.my-result {
  position: relative;
  width: 100%;
  height: 200px;
}
.my-vertical {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 50%;

}

