.my-list {
    cursor: pointer;
    background-color: white !important;
    color: black !important;
    /*font-size: 1.1em;*/
    margin-bottom: 4px;

}

.my-choise {
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1em;
    margin-bottom: 4px;
    background: lightgrey !important;
}
